@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Nunito&display=swap');
@tailwind base;
@tailwind components;

*,body,html {
  background-color: '#EDC7B7';
}

.slide {
  width:100%;
  height:0px;
  overflow: hidden;
  transition: height .4s ease;
}

html{
  scroll-behavior: smooth;
}

.filter-select  {
  -webkit-appearance: none;
}

@media only screen and (min-height: 1000px) {
  .top {
    visibility: hidden;
  }
}

@tailwind utilities;